@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
body {
background-color: #272727 !important;
background-image: url("https://i.imgur.com/TYh5E3n.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top;
color:#adb1b1 !important;
}
body::-webkit-scrollbar {
  width:.6em;
  background-color:transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #626262;
  -webkit-border-radius:5px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    border-radius: 3px;
    background: transparent;
    border: 0px;
    color: #3a87ad;
    font-size:13px;
    font-weight:bold;
    border-radius:2px;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform:uppercase;
}
.navbar .nav > li > a {
    color: #a8a8a8;
    font-size: 13px;
    font-weight:bold;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform:uppercase;
}
.navbar .nav > li > a:hover {
    color: #3a87ad;
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform:uppsercase;
   }

#NavLinks .badge.badge2 {
    background: #626262;
    border-radius:5px;
    font-size:12px;
}
#NavLinks .badge{
  background:#626262;
  border-radius:5px;
  font-size:12px;
}
tr.checked, tr.checked td, tr.checked:nth-child(odd) .progress {
    background-color: #3a87ad;
}
.table thead th a{
  color: #a8a8a8;
}
.table thead th {
  color:#a8a8a8;
  padding:8px;
  border-radius: 0px;
}
.btn {
  text-transform: uppercase;
  font-family:'Nanum Gothic', sans-serif;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  color:black;
}
td.dropdown-cell {
  color:#adb1b1;
}
thead{
  background:#414141;
}

#DownloadsTab thead{
   background-color: #414141;
}
tbody {
  background-color: transparent;
  color:#adb1b1;
  border: .5px solid white;
}
.table {
    border-radius: unset;
    border: none;
}
.navbar-search .search-query, .navbar-search .search-query:focus, .navbar-search .search-query.focused {
    width: 180px;
    border-radius: 2px;
    background-color: #414141;
    text-shadow: unset;
    color: #a8a8a8;
    border:0px;
  }
  .navbar .dropdown-menu:after{
        border-bottom: 6px solid #414141;
  }
  .alert-info {
     font-weight: bold;
     border-radius: unset;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
     border:0px;
     background-color:#414141;
     text-shadow:unset;
     color:#adb1b1;
     text-transform:capitalize;
   }
   .alert-info h4 {
     text-transform:uppercase;
   }
    div.check:hover {
    border: 1px solid black;
}
div.check {
  background-color: white !important;
}
.table-striped tbody tr.checked:nth-child(odd) td, .checked .progress {
    background-color: transparent;
}
.table a {
  color: #adb1b1;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background-color: transparent;
    color:#adb1b1;
}
.table a:hover {
  color:#adb1b1;
}
.td {
  color: #adb1b1;
}
.tr {
  background: transparent;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: transparent;
}
.table tbody tr:hover td, .table tbody tr th {
    background-color: transparent;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: transparent;
}
tr.checked, tr.checked td, tr.checked:nth-child(odd) .progress {
    background-color: transparent;
}
.table tbody tr.checked:hover, .table tbody tr.checked:hover td {
    background-color: transparent;
}
.table tbody tr:hover, .table tbody tr:hover td {
    background-color: transparent;
}
.modal-body {
  background-color: #414141;
  color:#cccccc;
}
.modal-body::-webkit-scrollbar {
  width:.6em;
  background-color:transparent;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #626262;
  -webkit-border-radius:5px;
}
.modal-header h3 {
  color:#cccccc;
  background-color:#414141;
}
.modal-header {
  background-color:#414141;
  border:0px;
}
.modal-footer {
  background-color:#414141;
  border-top:1px solid #adb1b1;
  box-shadow:unset;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    background:#3a87ad;
    margin-left: 5px;
}
.modal {
  background-color: #414141;
  border:0px;
}
.modal a.btn{
  background:#414141;
  color:white;
  text-shadow:unset;
}
#LimitDialog_SpeedInput{
  background:#2c2c2c;
  border:0px;
  color: white;
}
#LimitDialog_SpeedInputGroup > div > span{
  background:#414141;
  border:1px solid #2c2c2c;
  text-shadow:unset;
  font-weight:bold;
  cursor:default;
}
.modal .input-xlarge {
    color:white;
    border:0px;
    background:#2c2c2c
}
#HistoryEdit_Category{
  background:#2c2c2c;
  color:white;
  border:0px;
}
.modal-bottom-toolbar .btn{
  background:#2c2c2c;
  color:white;
  text-shadow:unset;
}
.modal-body .form-horizontal .control-label{
  color: #CCCCCC;
  font-weight:bold;
}
.modal-body p {
  color:#adb1b1;
}
.modal-body h1 {
  color:#adb1b1;
}
.modal-body h2 {
  color:#cccccc;
}
.modal-body p a {
  color: #3a87ad;
  text-decoration:underline;
}
.modal-body .table thead th {
    color: #cccccc;
    font-weight:bold;
    padding: 10px;
}
.modal .input-small{
  background:#2c2c2c;
  color:white;
  border:0px;
}
#HistoryEdit_DupeTab > div > form > fieldset > div > div > label{
  color:#cccccc;
}
#HistoryEdit_LogTab > div> div.btn-toolbar.form-inline.clearfix.modal-toolbox > div.pull-left.btn-group > button{
  background:#2c2c2c;
  color:white;
  text-shadow:unset;
  font-weight:bold;
}
.modal div.toolbox-length select{
  background:#2c2c2c;
}
#HistoryEdit_LogTable_filter{
  background:#2c2c2c;
  color:white;
  border:0px;
  border-radius:4px;
}
.modal .btn.btn-primary{
  background:#3a87ad;
  color:#2c2c2c;
  text-shadow:unset;
}
.modal .btn{
  background: #414141;
  color:#cccccc;
  text-shadow:unset;
}
.modal .input-medium{
  background:#2c2c2c;
  color:white;
  border:0px;
}
.modal .input-xblarge{
  background:#2c2c2c;
  color:white;
  border:0px;
}
#AddDialog_Priority{
  background:#2c2c2c;
  color:white;
  border:0px;
}
#AddDialog_Category{
  background:#2c2c2c;
  color:white;
  border:0px;
}
#AddDialog_Target > div > form > fieldset > div > div > label{
  color:#cccccc;
}
.modal .radio{
  color:#cccccc;
}
.modal .radio:hover{
  color:#3a87ad;
}
.modal-open .dropdown-menu {
    background: #414141;
}
#StatDialog_Server{
  background:#414141;
}
.modal .input-mini{
  background:#2c2c2c;
  color:white;
  border:0px;
}
.modal .btn-inverse{
  color:#3a87ad;
}
/*end of modal*/
.table.check-simple tbody tr.checked:hover, .table.check-simple tbody tr.checked:hover td {
    background-color: transparent;
    cursor:default;
}
table > thead > tr > th.table-selector {
  color:black;
}
#RefreshMenu  {
background-color:#414141;
border-radius:5px;
border: 1px solid #2c2c2c;
}
#RefreshMenu > li.menu-header {
  color:white;
}
#RefreshMenu > li > a > table > tbody{
  border:0px;
}
.progress-block {
  color:black;
  border-radius:3px;
  background-color:rgba(255,255,255, .2)
}
.progress {
  background:#2c2c2c;
}
#DownloadsTable > tbody > tr > td:nth-child(7) > div > div.progress.progress-striped.progress-none{
  background-color:transparent;
}
#DownloadsTable > tbody > tr.checked >td:nth-child(7) >div >div.progress{
  background-color:rgba(248, 148, 6, .8);
}
#DownloadsTable > tbody > tr > td:nth-child(7) > div > div.progress{
  background-color:rgba(248, 148, 6, .8);
}
#DownloadsTable > tbody > tr > td:nth-child(7) > div > div.progress.progress-striped.progress-success{
  background-color:transparent;
}
.table tbody tr.checked, .table tbody tr.checked td{
  background:#414141;
  color:white;
}
.table tbody tr.checked a, .table tbody tr.checked td a{
  color:white;
}
.table tbody tr.checked:hover, .table tbody tr.checked:hover td{
  background:rgba(87,87,87,.9);
  color:white;
}
.table tbody tr.checked:hover a, .table tbody tr.checked:hover td a{
  color:white;
}
.table tbody tr.checked:nth-child(even), .table tbody tr.checked:nth-child(even) td{
  background:#414141;
  color:white;
}
.table tbody tr.checked:nth-child(even) a, .table tbody tr.checked:nth-child(even) td a{
  color:white;
}
.table tbody tr.checked:hover, .table tbody tr.checked:hover td{
  background:rgba(87,87,87,.9);
  color:white;
}
.table tbody tr.checked:hover a, .table tbody tr.checked:hover td a{
  color:white;
}
.pagination a {
  color:#adb1b1;
  border:unset;
}
.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover{
  color:#414141;
}
.pagination a:hover {
  color:#3a87ad;
  background:transparent;
  font-weight:bold;
  border-radius: 4px;
}
.pagination li:first-child a:hover{
  background:transparent;
}
.pagination li:last-child a:hover{
  background:transparent;
}
.pagination .active a{
  color:#3a87ad;
  font-weight:bold;
  background-color:transparent;
  border-radius:4px;
}
span.help-option-title {
    color: #bbbbbb;
}
#_Unpack_Password{
  background-color:#2c2c2c;
  border:0px;
  color:white;
}
.row-fluid .span9 {
    background-color: rgba(44,44,44,.75);
    border-radius: 3px;
    padding: 2px;
    margin:auto;
}
#ConfigNav.nav-list a {
  color:#a8a8a8;
  text-shadow:unset;
}
#ConfigNav.nav-list a:hover {
   color:#3a87ad;
   background-color:transparent;
}
#ConfigNav.nav-list a:active {
  color:white;
  text-shadow:unset;
  background-color:transparent;
  border-radius:2px;
}
#ConfigNav.nav-list > .active > a, #ConfigNav.nav-list > .active > a:hover {
  color:white;
  border-radius:2px;
  background-color:rgba(58,135,173,.7);
}
#ConfigNav {
  background-color: rgba(44,44,44,.7);
  border:0px;
  width:200px;
  text-align:center;
  margin:auto;
}
.row-fluid .span9 p{
    padding-left: 2px;
}
.row-fluid .span9 h4{
    padding-left: 2px;
}
#ConfigContent .config-header{
  border-radius:0px;
  border-bottom: 2px solid #a8a8a8;
}
#ConfigContent hr {
  border:0px;
}
#ConfigContent div.control-group {
  border-bottom: 1px solid #a8a8a8;
}
#ConfigContent .control-label {
  color:#adb1b1;
}
.config-header .btn-group {
  padding-right:5px;
}
#ConfigContent p.help-block {
  color:#adb1b1;
  text-transform:capitalize;
}
#ConfigContent .help-option-title {
  color:#adb1b1;
  text-transform:uppercase;
  font-weight: bold;
}
#ConfigContent .editlarge {
    background: #626261;
    color: white;
    border:0px;
}
#ConfigContent .editsmall {
    background: #626262;
    color: white;
    border:0px;
}
.config-settitle {
  background-color: transparent;
  border-radius:0px;
  text-shadow: 2px 1px 1px #0088cc;
  border-bottom:0px;
  }
#ConfigContent .editnumeric {
    width: 70px;
    background: #626261;
    color: white;
    border:0px;
}
#ConfigData > div > div > div > span.add-on{
  background-color:#414141;
  color:white;
  text-shadow:unset;
  font-weight:bold;
  cursor:default;
  border:0px;
}
#ConfigData > div > div > div > span > label.checkbox {
  color:white;
}
#ConfigContent table.editor input {
    width: 100%;
    background-color: #626262;
    color: white;
    border:0px;
}
#ConfigData > div > div > table {
  border-collapse:unset;
}
.config-header .btn{
  background:#414141;
  color:#adb1b1;
  text-shadow:unset;
  }
  .nav-list .divider{
    border-bottom:2px solid #a8a8a8;
    background-color:transparent;
  }
  #Config_ViewMenu {
  background:transparent;
  background-color:#414141;
  color:#adb1b1;
  text-shadow:unset;
  border:0px;
}
#Config_Save {
  background:#414141;
  font-family:'Nanum-Gothic', sans-serif;
  color:#a8a8a8;
  margin:auto;
}
#ConfigData > div> div > button.btn.btn-danger {
  background:#ad292c;
  text-shadow:unset;
}
#ConfigData > div:nth-child(3) > div > button,
#ConfigData > div:nth-child(4) > div > button,
#ConfigData > div:nth-child(5) > div > button {
  text-shadow:unset;
  background:#414141;
  color:white;
}
#ConfigData input.btn.btn-primary{
  background:#3a87ad;
  text-shadow:unset;
  color:white;
}
#ConfigData input.btn{
  background:#414141;
  text-shadow:unset;
  color:#a8a8a8;
}
#Config_ViewButton{
  background:#414141;
  color:#a8a8a8;
}
#ConfigData > div > div > p > a {
  color:#3a87ad;
}
#UpdateDialog_Versions #UpdateDialog_AvailRow td:hover, #UpdateDialog_Versions tr:hover td {
    background-color: transparent;
}
#PlayMenu {
  background:#414141;
}
#PlayMenu > li{
  color:white;
  text-shadow:unset;
  font-weight:bold;
  font-size:12px;
}
#PlayMenu > li > a > table > tbody{
  border:0px;
}
.dropdown-menu a{
  color: #adb1b1;
  background:transparent;
}
div.toolbox-length select {
    width: 75px;
    height: 28px;
    background-color: #414141;
    color: #adb1b1;
    border: 0px;
}
#DownloadsToolbar > div > button {
  background:#414141;
  color:#a8a8a8;
  text-shadow:unset;
  font-weight: bold;
}
#DownloadsToolbar > div > button:hover {
  background:#414141;
  color:#a8a8a8;
  text-shadow:unset;
  border-bottom:1px solid #3a87ad;
}
#DownloadsToolbar > div > button:active {
  background:#414141;
  color:white;
  text-shadow:unset;
  border-bottom:1px solid #3a87ad;
}
#HistoryTab_Toolbar > div > button {
  background:#414141;
  color:#a8a8a8;
  text-shadow:unset;
  font-weight: bold;
}
#HistoryTab_Toolbar > div > button:hover {
  background:#414141;
  color:#a8a8a8;
  text-shadow:unset;
  border-bottom:1px solid #3a87ad;
}
#HistoryTab_Toolbar > div > button:active {
  background:#414141;
  color:white;
  text-shadow:unset;
  border-bottom:1px solid #3a87ad;
}
#HistoryCategoryMenu{
  background:#414141;
  }
.badge {
  background-color: rgb(98, 98, 98);
  color:white;
  border-radius:4px;
}
#MessagesTab_Toolbar > div > button{
  background:#414141;
  color:#a8a8a8;
  text-shadow:unset;
  font-weight: bold;
}
#MessagesTab_Toolbar > div > button:hover{
  background:#414141;
  color:#a8a8a8;
  text-shadow:unset;
  border-bottom:1px solid #3a87ad;
}
#MessagesTab_Toolbar > div > button:active{
  background:#414141;
  color:white;
  text-shadow:unset;
  border-bottom:1px solid #3a87ad;
}
.menu-header {
  color:white;
  text-shadow:unset;
}
#HistoryTab_Toolbar > div.btn-group.open > ul{
  background:#414141
}
#HistoryActionsMenu {
  background:#414141
}
#FilterMenu {
  background:#414141;
}
#Notif_Downloads_Select{
  background:#2c2c2c;
  color:#adb1b1;
  border:0px;
}
#HistoryTab_Toolbar > div.btn-group.phone-hide > button.btn.history-filter.btn-inverse{
  border-bottom:1px solid #3a87ad;
  color:white;
}
#MessagesTab_Toolbar > div.btn-group.phone-hide > button.btn.btn-inverse{
  border-bottom:1px solid #3a87ad;
  color:white;
}
#ConfigData > div > button.btn{
  background:#414141;
  color:#adb1b1;
  font-weight:bold;
  text-shadow:unset;
}
#ConfigData > div > button.btn:hover{
  background:#414141;
  color:#3a87ad;
  font-weight:bold;
  text-shadow:unset;
}
.dropdown-menu a:hover {

    color: #adb1b1;
    background: transparent;
    border-radius:2px;
}
#ConfigData > div > div > table > tbody > tr > td>.btn{
  background:#414141;
  color:#adb1b1;
  text-shadow:unset;
  font-weight:bold;
}
#Config_Save:hover{
  background-color:#ad292c;
  color:#adb1b1;
}
#Notif_History_Select{
  background:#2c2c2c;
  border:1px solid #2c2c2c;
  color:#adb1b1;
}
#DownloadsActionsMenu {
  background: #414141;
}
#PriorityMenu > li > a > table > tbody{
  border:0px;
}
#HistoryCategoryMenu > li > a > table > tbody{
  border:0px;
}
#PriorityMenu{
  background:#2c2c2c;
  color:#adb1b1;
}
#DownloadsEdit_Priority{
  background:#2c2c2c;
  color:#adb1b1;
  border:0px;
}
#DownloadsEdit_Category{
  background:#2c2c2c;
  border:0px;
  color:#adb1b1;
}
#DownloadsEdit_FileTable_filter{
  background:#2c2c2c;
  border:0px;
  color:#adb1b1;
}
.modal-inner-scroll::-webkit-scrollbar{
  width:.6em;
  background-color:#2c2c2c;
}
.modal-inner-scroll::-webkit-scrollbar-thumb{
  background-color: #626262;
  -webkit-border-radius:5px;
}
#DownloadsEdit_LogTable_filter{
  background:#2c2c2c;
  border:0px;
  color:#adb1b1;
}
::selection{
  background:#3a87adcf;
}
table.datatable > tbody > tr:hover{
  background:#414141;
}
.table tbody tr:hover, .table tbody tr:hover td, .table tbody tr:hover a  {
    color:white;
}
#MessagesTable > tbody > tr:hover{
  background:transparent;
}
#MessagesTable > tbody > tr:hover td{
  color:#adb1b1;
}
